<!DOCTYPE html>
<html>

<head>
    <title>Support4Carry2CHAT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="/css/chatstyle.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/45e03a14ce.css" media="all" rel="stylesheet">
    <script src="https://use.fontawesome.com/45e03a14ce.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/chat_css.css">
    <script src="public/js/chat_js.js"></script>
</head>

<body>
<!-- ............................................................................... -->
<div class="container">
  <div class="p-3 mb-1 bg-success text-blue">
    <h1><center> Support4Carry2CHAT </Center></h1>
  </div>
  <center>

    <div class="input-group mb-3">
      <input type="text" id="groupid_input" class="form-control" placeholder="Create Group" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button id="createButton" class="btn btn-outline-secondary" type="button">Create<span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>

    <div class="input-group mb-3">
      <input type="text" id="join_input" class="form-control" placeholder="Join Group" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button id="joinButton" class="btn btn-outline-secondary" type="button">Join<span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>


    <div class="member_list">
        <p><b> Group List Name : </b></p>
        <ul id="group_list" class="list-group">
            <!-- Group List Section -->
        </ul>
    </div>
  </center>

<center><p><b> Chatbox Section : </b></p></center>
  <!-- header -->
  <div id="chat-window" class="row">
      <div class = 'jumbotron'><h4><center>
            This is Group : <div id="group-name" align="left"><b></b></div></center></h4>
      </div>
      <div id="dropdown-action">
          <div class="btn-group">
              <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Setting
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><div id="client-name" class="dropdown-item" align="left">You are:</div></li>
                  <!-- <li><div id="group-name" class="dropdown-item" align="left">You are at:</div></li> -->
                  <li><a id="leave-btn" class="dropdown-item" href="#">Leave Group</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/">Sign Out</a></li>
              </ul>
          </div>
      </div>

  <!-- MESSAGE AREA -->
  <div id="chat_area" class="chat_area">
      <ul id="message_list" class="list-unstyled">
          <li class="left clearfix">
              <span class="chat-img1 pull-left">
              <img src="/img/icon-user-default.png" alt="User Avatar" class="img-circle" width="40" height="40">
              </span>
              <div class="chat-body1 clearfix">
                  <p>  GlobalChat Of Suppory4Carry2CHAT </p>
                  <p> By Support4Carry2 </p>
              </div>
          </li>
      </ul>
  </div>

  <!--  CHAT TEXTAREA-->
  <div class="message_write">
      <textarea id="chat_input" class="form-control" placeholder="type a message"></textarea>
      <div class="clearfix">
      </div>
      <div id="" class="chat_bottom">
          <a href="#" class="btn btn-danger" id="send-btn">Send</a>
      </div>
  </div>
  </div>
</div>

<div id='modal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div id='modal-message' align="center">...</div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://172.168.1.92:8080');
    var _countElement = 0;
    var countRead = 0;
    socket.on('connect', function (data) {
        var clientid = window.location.pathname.split('/')[1];
        socket.emit('login', clientid);
        $("#client-name").text("You are: " + clientid);
    });
    socket.on("add-group-list", function (groupid) {
        if(!document.getElementById("li_" + groupid)){
            var groupLi = $('<li class="left clearfix" id="li_'+groupid+'" onClick="linkToGroup(\''+groupid+'\')"><span class="chat-img pull-left"><canvas id="avatar_'+ groupid +'" width="40" height="40"></canvas></span><div class="chat-body clearfix"><div class="header_sec"><strong class="primary-font">'+groupid+'</strong></div><div class="contact_sec"> </div></div></li>').data('groupid', groupid);
            $('#group_list').append(groupLi);
        }
    });
    socket.on('receive', function (messagepack) {
        messagepack._countElement = _countElement++;
        countRead++;
        var messageLi = $('<li class="left clearfix"><span class="chat-img1 pull-left"><canvas id="avatar_'+ messagepack._countElement +'" width="40" height="40"></canvas></span><div class="chat-body1 clearfix pull-left"><p>'+ messagepack.message +'</p><div class="chat_time pull-left">'+ messagepack.time +'</div></div></li>').data('messagepack', messagepack);
       $('#message_list').append(messageLi);
       genAvatar(messagepack.avatarName, messagepack._countElement);
       socket.emit('update-unread', countRead);
       scrollToBottom();
    });
    socket.on('self_receive', function (messagepack) {
        messagepack._countElement = _countElement++;
        countRead++;
        var messageLi = $('<li class="left clearfix admin_chat"><span class="chat-img1 pull-right"><canvas id="avatar_'+ messagepack._countElement +'" width="40" height="40"></canvas></span><div class="chat-body1 clearfix pull-right"><p>'+ messagepack.message +'</p><div class="chat_time pull-right">'+ messagepack.time +'</div></div></li>').data('messagepack', messagepack);
        $('#message_list').append(messageLi);
        genAvatar(messagepack.avatarName, messagepack._countElement);
        socket.emit('update-unread', countRead);
        scrollToBottom();
    });
    socket.on('receive_no_update_unread', function (messagepack) {
        messagepack._countElement = _countElement++;
        countRead++;
        var messageLi = $('<li class="left clearfix"><span class="chat-img1 pull-left"><canvas id="avatar_'+ messagepack._countElement +'" width="40" height="40"></canvas></span><div class="chat-body1 clearfix pull-left"><p>'+ messagepack.message +'</p><div class="chat_time pull-left">'+ messagepack.time +'</div></div></li>').data('messagepack', messagepack);
       $('#message_list').append(messageLi);
       genAvatar(messagepack.avatarName, messagepack._countElement);
       scrollToBottom();
    });
    socket.on('self_receive_no_update_unread', function (messagepack) {
        messagepack._countElement = _countElement++;
        countRead++;
        var messageLi = $('<li class="left clearfix admin_chat"><span class="chat-img1 pull-right"><canvas id="avatar_'+ messagepack._countElement +'" width="40" height="40"></canvas></span><div class="chat-body1 clearfix pull-right"><p>'+ messagepack.message +'</p><div class="chat_time pull-right">'+ messagepack.time +'</div></div></li>').data('messagepack', messagepack);
        $('#message_list').append(messageLi);
        genAvatar(messagepack.avatarName, messagepack._countElement);
        scrollToBottom();
    });
    socket.on('count_Read', function () {countRead++;});
    socket.on('noti-receive', function (messagepack) {
        var messageLi = $('<li class="left clearfix admin_chat"><div class="chat-body1 clearfix"><p align="center">'+ messagepack.message +'</p></div></li>').data('messagepack', messagepack);
        $('#message_list').append(messageLi);
        scrollToBottom();
    });
    socket.on('modal-toggle', function (message) {
        $('#modal-message').text(message);
    	$('#modal').modal('toggle');
    });
    socket.on('join-success', function (groupid) {
        var chatWindow = document.getElementById('chat-window');
	    chatWindow.style.display = 'block';
	    $("#message_list").html("");
	    $("#group-name b").text(groupid);
        socket.emit('join-noti');
    });
    $('#createButton').on('click',function (e) {
        e.preventDefault();
        var groupid = $('#groupid_input').val();
        $('#groupid_input').val('');
        socket.emit('createGroup', groupid);
    });
    $('#joinButton').on('click',function (e) {
        e.preventDefault();
        var groupid = $('#join_input').val();
        $('#join_input').val('');
        linkToGroup(groupid);
    });
    $('#send-btn').on('click',function (e){
    	e.preventDefault();
  		var message = $('#chat_input').val();
  		$('#chat_input').val('');
  		socket.emit('message', message);
  	});
    $('#leave-btn').on('click',function (e){
    	e.preventDefault();
        var groupid = $("#group-name b").text();
        var groupList = document.getElementById('li_' + groupid);
        groupList.remove();
        var chatWindow = document.getElementById('chat-window');
	      chatWindow.style.display = 'none';
        socket.emit('leave-group');
  	});
    $("#chat_input").keyup(function(event){
      if(event.keyCode == 13){
          $("#send-btn").click();
      }
    });
    function linkToGroup(groupid){
        _countElement = 0;
        countRead = 0;
        socket.emit('joinGroup', groupid);
    }
    function scrollToBottom(){
        var elem = document.getElementById('chat_area');
        elem.scrollTop = elem.scrollHeight;
    }
// -------------------------- Text Avatar Generator from Name  Begin ------------------------
    String.prototype.hashCode = function() {
        var hash = 0,
            i, chr;
        if (this.length === 0) return hash;
        for (i = 0; i < this.length; i++) {
            chr = this.charCodeAt(i);
            hash = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
        }
        return (hash < 0) ? -hash : hash;
    };
    var colours = ["#1abc9c", "#2ecc71", "#3498db", "#9b59b6", "#34495e", "#16a085", "#27ae60", "#2980b9", "#8e44ad", "#2c3e50", "#f1c40f", "#e67e22", "#e74c3c", "#95a5a6", "#f39c12", "#d35400", "#c0392b", "#bdc3c7", "#7f8c8d"];
    function genAvatar(avatarName, countElement){
        var name = avatarName;
        initials = name.charAt(0).toUpperCase();
        var charIndex = name.hashCode(),
            colourIndex = charIndex % 19;
        var canvas = document.getElementById("avatar_"+countElement);
        var context = canvas.getContext("2d");
        var canvasWidth = $(canvas).attr("width"),
            canvasHeight = $(canvas).attr("height"),
            canvasCssWidth = canvasWidth,
            canvasCssHeight = canvasHeight;
        if (window.devicePixelRatio) {
            $(canvas).attr("width", canvasWidth * window.devicePixelRatio);
            $(canvas).attr("height", canvasHeight * window.devicePixelRatio);
            $(canvas).css("width", canvasCssWidth);
            $(canvas).css("height", canvasCssHeight);
            context.scale(window.devicePixelRatio, window.devicePixelRatio);
        }
        context.fillStyle = colours[colourIndex];
        context.fillRect(0, 0, canvas.width, canvas.height);
        context.font = "18px Tahoma";
        context.textAlign = "center";
        context.fillStyle = "#FFF";
        context.fillText(initials, canvasCssWidth / 2, canvasCssHeight / 1.5);
    }
// -------------------------- Text Avatar Generator from Name END----------------------
</script>
</body>
</html>
